## Cell 1 — Imports + Config (Random User API → MySQL)

This notebook prototype:
- Connects to the **Random User Generator API** (`https://randomuser.me/api/`)
- Normalizes the nested JSON response
- Loads users into **MySQL** using an **idempotent upsert** keyed by `login.uuid`

> Tip: Run cells top-to-bottom.

In [1]:
import os
from typing import Any, Dict, Optional

import requests
import pandas as pd
from tenacity import retry, stop_after_attempt, wait_exponential, retry_if_exception_type

from sqlalchemy import create_engine, text

# =========================
# API Configuration
# =========================
# Random User API base (no auth required)
API_BASE_URL = os.getenv("API_BASE_URL", "https://randomuser.me")
RESULTS_PER_CALL = int(os.getenv("RESULTS_PER_CALL", "100"))

# =========================
# MySQL Configuration (from Docker Compose)
# =========================
MYSQL_HOST = os.getenv("MYSQL_HOST", "db")
MYSQL_PORT = int(os.getenv("MYSQL_PORT", "3306"))
MYSQL_DATABASE = os.getenv("MYSQL_DATABASE", "demo")
MYSQL_USER = os.getenv("MYSQL_USER", "demo_user")
MYSQL_PASSWORD = os.getenv("MYSQL_PASSWORD", "demo_pass")

print("API_BASE_URL:", API_BASE_URL)
print("RESULTS_PER_CALL:", RESULTS_PER_CALL)
print("MYSQL:", f"{MYSQL_USER}@{MYSQL_HOST}:{MYSQL_PORT}/{MYSQL_DATABASE}")

API_BASE_URL: https://randomuser.me
RESULTS_PER_CALL: 100
MYSQL: demo_user@db:3306/demo

## Cell 2 — MySQL Engine (SQLAlchemy)

Creates a SQLAlchemy engine and validates connectivity to MySQL running in Docker Compose.

In [2]:
# Using PyMySQL driver
mysql_url = (
    f"mysql+pymysql://{MYSQL_USER}:{MYSQL_PASSWORD}"
    f"@{MYSQL_HOST}:{MYSQL_PORT}/{MYSQL_DATABASE}"
)

engine = create_engine(mysql_url, pool_pre_ping=True)

# Quick connectivity check
with engine.connect() as conn:
    conn.execute(text("SELECT 1"))
print("✅ Connected to MySQL")

✅ Connected to MySQL

## Cell 3 — API Client Helpers (with retries)

Reusable helper to call the API with retry/backoff. RandomUser does not require auth.

In [10]:
import os
import requests
from tenacity import retry, stop_after_attempt, wait_exponential, retry_if_exception_type

class ApiError(RuntimeError):
    pass

def build_headers():
    return {"Accept": "application/json"}

@retry(
    reraise=True,
    stop=stop_after_attempt(5),
    wait=wait_exponential(multiplier=1, min=1, max=10),
    retry=retry_if_exception_type((requests.RequestException, ApiError)),
)
def get_json(path: str, params=None):
    base = (os.getenv("API_BASE_URL") or "").rstrip("/")
    endpoint = (path or "").lstrip("/")
    url = f"{base}/{endpoint}" if endpoint else f"{base}/"

    # Temporary debug (remove later)
    print("Calling URL:", url)

    resp = requests.get(url, headers=build_headers(), params=params, timeout=30)

    if resp.status_code >= 400:
        raise ApiError(f"API error {resp.status_code}. URL={resp.url}. Body={resp.text[:300]}")

    ct = (resp.headers.get("Content-Type") or "").lower()
    if "json" not in ct:
        raise ApiError(f"Non-JSON response. URL={resp.url}. Content-Type={ct}. Body={resp.text[:300]}")

    return resp.json()

In [11]:
import os, requests

print("API_BASE_URL =", os.getenv("API_BASE_URL"))

url = "https://randomuser.me/api/?results=1"
r = requests.get(url, timeout=30)

print("Status:", r.status_code)
print("Final URL:", r.url)  # shows if redirected
print("Content-Type:", r.headers.get("Content-Type"))
print("First 300 chars:\n", r.text[:300])

API_BASE_URL = https://randomuser.me
Status: 200
Final URL: https://randomuser.me/api/?results=1
Content-Type: application/json; charset=utf-8
First 300 chars:
 {"results":[{"gender":"male","name":{"title":"Mr","first":"Guillermo","last":"Ureña"},"location":{"street":{"number":4977,"name":"Calle Tonga"},"city":"Guadalajara","state":"Aguascalientes","country":"Mexico","postcode":10604,"coordinates":{"latitude":"29.2420","longitude":"-115.0766"},"timezone":{"

## Cell 4 — Read Data from the Random User API

Fetch a batch of users (e.g., 100) from `https://randomuser.me/api/?results=100`.

In [13]:
# Random User API supports batching via the `results` parameter.
# Note: If API_BASE_URL is set to 'https://randomuser.me/api', we should call the root path ('')
# to avoid generating '.../api/api'.

raw_response = get_json("/api/", params={"results": RESULTS_PER_CALL, "format": "json"})
raw_response.keys()

Calling URL: https://randomuser.me/api/

dict_keys(['results', 'info'])

## Cell 5 — Normalize to a DataFrame

Flatten the nested JSON structure into a tabular dataframe.

In [14]:
users = raw_response.get("results", [])
df = pd.json_normalize(users)

df.head()

,gender,email,phone,cell,nat,name.title,name.first,name.last,location.street.number,location.street.name,...,login.sha256,dob.date,dob.age,registered.date,registered.age,id.name,id.value,picture.large,picture.medium,picture.thumbnail
0,female,afet.aksit@example.com,(432)-330-2017,(636)-329-8162,TR,Miss,Afet,Akşit,3499,Istiklal Cd,...,1da8ad2d33c297e7f44478fa82a431f4472cfdd1f033f9...,1970-10-27T14:24:46.352Z,55,2003-05-05T21:46:58.508Z,22,,None,https://randomuser.me/api/portraits/women/33.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
1,female,madeleine.lewis@example.com,(668)-011-9460,(215)-448-5956,NZ,Mrs,Madeleine,Lewis,698,Riccarton Road,...,4993a68966b477e75a78c9f43b151d58212603f3e9826b...,1962-05-12T15:08:01.215Z,63,2022-02-19T07:11:44.274Z,3,,None,https://randomuser.me/api/portraits/women/73.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
2,female,yvette.dees@example.com,(082) 8091494,(06) 16018893,NL,Miss,Yvette,Dees,1686,Jo Hansenstraat,...,b8b8b57975feda475ed1caba2716ce42ae79d2a0b9d084...,1989-11-26T20:47:12.831Z,36,2009-10-17T18:16:56.535Z,16,BSN,23530571,https://randomuser.me/api/portraits/women/25.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...
3,male,nihal.rajesh@example.com,9577921331,8007222324,IN,Mr,Nihal,Rajesh,613,Somwar Peth,...,c215bf29e550148b20895f452e9bff6590e485fc6d84e6...,1987-02-04T10:17:16.897Z,38,2005-12-31T19:50:26.629Z,19,UIDAI,657795636811,https://randomuser.me/api/portraits/men/83.jpg,https://randomuser.me/api/portraits/med/men/83...,https://randomuser.me/api/portraits/thumb/men/...
4,female,carrie.soto@example.com,01-9963-8271,0430-981-825,AU,Mrs,Carrie,Soto,1438,Mcgowen St,...,08259b44fe8e291470e0bdba9e3f06be8d69561cdad550...,1974-03-08T22:57:39.044Z,51,2009-10-01T17:26:51.993Z,16,TFN,468349203,https://randomuser.me/api/portraits/women/56.jpg,https://randomuser.me/api/portraits/med/women/...,https://randomuser.me/api/portraits/thumb/wome...

## Cell 6 — Basic Data Quality Checks

Validate the payload is non-empty and that the natural key `login.uuid` is present.

In [27]:
import numpy as np
assert not df.empty, "API returned no data"
assert "login.uuid" in df.columns, "Expected natural key field 'login.uuid'"  # used for idempotent upserts

# Build a relational-friendly model (v1) by selecting and renaming a subset of fields
df_model = df[[
    "login.uuid",
    "gender",
    "name.first",
    "name.last",
    "email",
    "dob.date",
    "dob.age",
    "location.country",
    "location.city",
    "phone",
    "nat",
]].copy()

df_model.columns = [
    "user_uuid",
    "gender",
    "first_name",
    "last_name",
    "email",
    "dob",
    "age",
    "country",
    "city",
    "phone",
    "nationality",
]
df_model["dob"] = pd.to_datetime(df_model["dob"], utc=True).dt.tz_convert(None).dt.floor("s")


# df_model["dob"] = np.array(df_model["dob"].dt.to_pydatetime(), dtype=object)



# Basic checks
assert df_model["user_uuid"].notna().all(), "Missing user_uuid values"
assert df_model["user_uuid"].is_unique, "Duplicate user_uuid values in this batch"

df_model.head()

,user_uuid,gender,first_name,last_name,email,dob,age,country,city,phone,nationality
0,11375770-4dd7-43e0-a3f0-7e7057646504,female,Afet,Akşit,afet.aksit@example.com,1970-10-27 14:24:46,55,Turkey,Kayseri,(432)-330-2017,TR
1,ca5a54ed-393c-4897-941c-99dced1abb91,female,Madeleine,Lewis,madeleine.lewis@example.com,1962-05-12 15:08:01,63,New Zealand,Palmerston North,(668)-011-9460,NZ
2,a4fca9d1-11f7-4a03-a967-d9e8ab9f24d2,female,Yvette,Dees,yvette.dees@example.com,1989-11-26 20:47:12,36,Netherlands,Hiaure,(082) 8091494,NL
3,60d1b0c1-c448-41fc-a4d3-d0e26e769114,male,Nihal,Rajesh,nihal.rajesh@example.com,1987-02-04 10:17:16,38,India,Bhimavaram,9577921331,IN
4,c421902d-de53-4684-98b2-737a2496ab70,female,Carrie,Soto,carrie.soto@example.com,1974-03-08 22:57:39,51,Australia,Sunshine Coast,01-9963-8271,AU

## Cell 7 — Create the Target Table (idempotent)

Creates `random_users` if it does not exist.

In [21]:
create_sql = """
CREATE TABLE IF NOT EXISTS random_users (
  user_uuid VARCHAR(36) PRIMARY KEY,
  gender VARCHAR(10),
  first_name VARCHAR(100),
  last_name VARCHAR(100),
  email VARCHAR(255),
  dob DATETIME,
  age INT,
  country VARCHAR(100),
  city VARCHAR(100),
  phone VARCHAR(50),
  nationality VARCHAR(10),
  ingested_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP
);
"""

with engine.begin() as conn:
    conn.execute(text(create_sql))

print("✅ Ensured table exists: random_users")

✅ Ensured table exists: random_users

## Cell 8 — Load into MySQL (Upsert Pattern)

Upserts rows by `user_uuid` so the pipeline is safe to re-run without creating duplicates.

In [29]:
from sqlalchemy import Table, MetaData
from sqlalchemy.dialects.mysql import insert as mysql_insert
import numpy as np

# --- Safety: force dob to naive Python datetime objects (MySQL DATETIME friendly) ---
df_model = df_model.copy()

# df_model["dob"] = pd.to_datetime(df_model["dob"], errors="coerce", utc=True) \
#                     .dt.tz_convert(None) \
#                     .dt.floor("s")

# Convert pandas timestamps to native python datetime
# df_model["dob"] = df_model["dob"].dt.to_pydatetime()

# df_model["dob"] = np.array(df_model["dob"].dt.to_pydatetime(), dtype=object)

df_model["dob"] = (
    pd.to_datetime(df_model["dob"], errors="coerce", utc=True)
      .dt.tz_convert(None)
      .dt.floor("s")
      .apply(lambda x: x.to_pydatetime() if pd.notnull(x) else None)
)



# Optional: quick sanity check
print(df_model[["dob"]].head())
print(df_model["dob"].apply(type).head())


metadata = MetaData()
random_users = Table("random_users", metadata, autoload_with=engine)

records = df_model.to_dict(orient="records")

stmt = mysql_insert(random_users).values(records)

upsert_stmt = stmt.on_duplicate_key_update(
    gender=stmt.inserted.gender,
    first_name=stmt.inserted.first_name,
    last_name=stmt.inserted.last_name,
    email=stmt.inserted.email,
    dob=stmt.inserted.dob,
    age=stmt.inserted.age,
    country=stmt.inserted.country,
    city=stmt.inserted.city,
    phone=stmt.inserted.phone,
    nationality=stmt.inserted.nationality,
)

with engine.begin() as conn:
    conn.execute(upsert_stmt)

print(f"✅ Upserted {len(records)} records into random_users")

                  dob
0 1970-10-27 14:24:46
1 1962-05-12 15:08:01
2 1989-11-26 20:47:12
3 1987-02-04 10:17:16
4 1974-03-08 22:57:39
0    <class 'pandas._libs.tslibs.timestamps.Timesta...
1    <class 'pandas._libs.tslibs.timestamps.Timesta...
2    <class 'pandas._libs.tslibs.timestamps.Timesta...
3    <class 'pandas._libs.tslibs.timestamps.Timesta...
4    <class 'pandas._libs.tslibs.timestamps.Timesta...
Name: dob, dtype: object
✅ Upserted 100 records into random_users

## Cell 9 — Verify Load

Confirm row counts and inspect a small sample.

In [30]:
with engine.connect() as conn:
    rows = conn.execute(text("SELECT COUNT(*) AS c FROM random_users")).scalar_one()
    sample = conn.execute(text("SELECT * FROM random_users ORDER BY ingested_at DESC LIMIT 5")).mappings().all()

rows, sample

(100,
 [{'user_uuid': '04f81df4-48be-4702-a6ac-dc900cc68a68', 'gender': 'female', 'first_name': 'Juana', 'last_name': 'Hernández', 'email': 'juana.hernandez@example.com', 'dob': datetime.datetime(1985, 1, 22, 16, 30, 48), 'age': 40, 'country': 'Spain', 'city': 'Madrid', 'phone': '932-164-632', 'nationality': 'ES', 'ingested_at': datetime.datetime(2025, 12, 31, 15, 46, 28)},
  {'user_uuid': '0acb1520-588e-4fe6-8716-fed506c52523', 'gender': 'male', 'first_name': 'Harun', 'last_name': 'Gjesdal', 'email': 'harun.gjesdal@example.com', 'dob': datetime.datetime(1953, 7, 14, 20, 41, 57), 'age': 72, 'country': 'Norway', 'city': 'Ringebu', 'phone': '36149493', 'nationality': 'NO', 'ingested_at': datetime.datetime(2025, 12, 31, 15, 46, 28)},
  {'user_uuid': '11375770-4dd7-43e0-a3f0-7e7057646504', 'gender': 'female', 'first_name': 'Afet', 'last_name': 'Akşit', 'email': 'afet.aksit@example.com', 'dob': datetime.datetime(1970, 10, 27, 14, 24, 46), 'age': 55, 'country': 'Turkey', 'city': 'Kayseri', 'phone': '(432)-330-2017', 'nationality': 'TR', 'ingested_at': datetime.datetime(2025, 12, 31, 15, 46, 28)},
  {'user_uuid': '1230216f-4b9e-4c95-a52e-025b3902710c', 'gender': 'female', 'first_name': 'Sarah', 'last_name': 'Roy', 'email': 'sarah.roy@example.com', 'dob': datetime.datetime(1996, 1, 21, 9, 40, 14), 'age': 29, 'country': 'France', 'city': 'Bordeaux', 'phone': '01-51-67-94-01', 'nationality': 'FR', 'ingested_at': datetime.datetime(2025, 12, 31, 15, 46, 28)},
  {'user_uuid': '12c7d634-b269-4694-b293-7aa00e855e1e', 'gender': 'male', 'first_name': 'Mason', 'last_name': 'Patterson', 'email': 'mason.patterson@example.com', 'dob': datetime.datetime(1949, 3, 10, 10, 44, 41), 'age': 76, 'country': 'United Kingdom', 'city': 'Stoke-on-Trent', 'phone': '023 1824 2983', 'nationality': 'GB', 'ingested_at': datetime.datetime(2025, 12, 31, 15, 46, 28)}])